@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: gilroy;
}

#main{
  height: 100%;
  width: 100%;
 
}
#signbtn{
  border: none;
  background-color: orangered;
}
#phonelogo{
  color: orangered;

}

#advh1{
  transform: translate(-50%,-50%);
}

#imgrotate1{
  transform: translate(-50%,-50%)
  
  

} 
#imgrotate2{
  transform: translate(-50%,-50%) rotate(-50deg);
  
  

} 
#imgrotate3{
  transform: translate(-50%,-50%) rotate(-40deg);
  
  

} 
#imgrotate4{
  transform: translate(-50%,-50%) rotate(-30deg);
  
  

} 
#imgrotate5{
  transform: translate(-50%,-50%) rotate(-20deg);
 
  

} 
#imgrotate6{
  transform: translate(-50%,-50%) rotate(-10deg);
  
  

} 


/* for portfolio project */

#text-div{
  background-color: #F5F3EF;
  color: #1E1E21;
}

#contentdiv1{
  background-color: #F5F3EF;
  color: #1E1E21;
}

#main2{
  background-color: #F5F3EF;
  color: #1E1E21;
}
#contentdiv2{
  background-color: #F5F3EF;
  color: #1E1E21;
}

#footer{
  background-color: #1E1E21;
}